body {
	background-color: white;
}

.flexbox-container {
	background: rgb(23,255,188);
	background: linear-gradient(0deg, rgba(23,255,188,1) 0%, rgba(11,112,128,1) 100%);
	/*margin-top: 30px;*/
	height: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	border-radius: 30px;
}

.flexbox-item {
	width: 425px;
	margin: 0px;
	/*border: 3px solid #333;
	background-color: #dfdfdf;*/
}



.flexbox-item-1 {
	font-size: 40px;
}

.flexbox-item-2 {
	background-color: white;
	flex-grow: 3;
	padding: 10px;
	border-radius: 30px;
	width: auto; 
	height: 900px;
}

.flexbox-item-3 {
	/*min-height: 300px;*/

}

.fit {
	display: block;
    width: 95%;
    margin: 0 auto;
    border-radius: 20px
}

.hero-img {
	margin-top: 50px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 60%;
  	max-width: 250px;
  	border: 3px solid white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name-heading {
	padding-top: 30px;
	text-align: center;
	color: white;
	font-weight: 400
}

.sub-heading {
	text-align: center;
	color: white;
	font-weight: 200;
}

.social-icons {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}


i {
	padding: 20px
}

.link-container {
	text-align: center;
	color: white;
}

.link-style {
	color: white;
}






@media only screen and (min-width: 640px)  {
	.flexbox-item {
		width: 45%;
		max-width: auto;
	}

	.name-heading {
	padding-top: 30px;
	text-align: center;
	color: white;
	font-weight: 600;
	font-size: 50px;
	}

	.sub-heading {
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 30px
    }

	.flexbox-item-2 {
		overflow-y: scroll;
	}

	.homeHeading {
		font-size: 80px;
		text-align: center;
	}
}
