.flexbox-container {
	height: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.flexbox-item {
	width: 425px;
	margin: 10px;
	/*border: 3px solid #333;
	background-color: #dfdfdf;*/
}



.flexbox-item-1 {
	font-size: 40px;

}

.flexbox-item-2 {
	/*min-width: 300px;*/
	padding: 10px;
}

.flexbox-item-3 {
	/*min-height: 300px;*/

}

.fit {
	display: block;
    width: 95%;
    margin: 0 auto;
    border-radius: 20px
}

.homeHeading {
	background-color: rgba(255, 255, 255, 0.9);
	font-size: 80px;
	text-align: left;
	position: sticky;
    top: 0;
}

.textDivider {
	color: purple;
	font-size: 80px;
}


.header-alt {
	background-color: rgba(255, 255, 255);
	font-size: 30px;
	text-align: center;
	position: sticky;
    top: 0;
}

button {
	padding: 6px 17px;
	margin: 5px 0;
	background-color: #6a4585;
	color: white;
	font-size: 25px;
	font-weight: 600;
	border-radius: 30px;
	border-bottom: 5px solid black;
}

















@media only screen and (min-width: 640px)  {
	.flexbox-item {
		width: 45%;
		max-width: 550px;
	}

	.homeHeading {
		font-size: 80px;
		text-align: center;
	}
}
